h1{
    color: #20b6bb;
    background-color: #c54028;
    text-align: center;
    padding: 5px;
  }
  h1:hover{
    color: #77e609;
  }
  h2{
    color: #0000ff;
    background-color: #6c8355;
  }
  h3{
    color: #8a2be2;
    background-color: #6495ed;
    text-align: center;
  }
  .s{
    color: #040468;
    background-color: #c8a1ec;
  }
  .j{
    color: #df09e6;
    background-color: #c8a1ec;
  }
  .b{
    color:#c3c3eb;
    background-color: #871aee;
    text-align: center;
  }